* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    border: thin solid black;
    height: 100%;
    margin: 0em auto;
    padding: 0em;
}

/* HEADER CSS */
header {
    border: 1px solid black;
    height: 100px;
    background-image: linear-gradient(to top, rgb(186, 12, 47), white);
}
#imageheader {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
#title {
    margin-top: 1em;
    float: left;
}
#searchBarForm {
    float: left;
    margin: 0;
    margin-left: 20em;
    padding: 1em;
    padding-top: 2.5em;
    width: 25em;
    text-align: center;
}
#searchBar {
    width: 25em;
    height: 2em;
    float: left;
    margin-right: 1em;
}
#searchButton {
    margin-left: 0;
    border: 1px solid black;
    float: left;
    margin-top: 5px;
}
.headerLinks {
    float: left;
    border: 1px solid black;
    margin: 1em;
    margin-top: 2.5em;
    padding: 5px;
    font: bold;
    background-color:white;
    color: black;
}
header a:link, header a:visited {
    text-decoration: none;
    color: black;
}
#shoppingCart {
    margin-right: 0;
}
#signIn {
    margin-left: 1em;
}

/* NAV LIST CSS */
#nav_list {
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
}
#nav_list ul {
    background-color: rgb(186, 12, 47);
    font-weight: bold;
    margin:0;
    padding:0;
    text-align: center;

 }
#nav_list ul li {
    list-style-type: none;
    background-color: rgb(186, 12, 47);
    display: inline-block;
    padding: 10px 35px;
    width: 130px;
    position: relative;
    margin: 0;
}
#nav_list ul li a {
    color: black;
    text-decoration: none;
}
#nav_list ul li .current {
    color: white;
}

#nav_list li:hover:not(.noHighlight), #nav_list li:focus:not(.noHighlight) {
    background-color: lightgrey;
}

#nav_list ul ul{
    display: none;
    position: absolute;
    margin-left: -15px;
    margin-top: 5px;
    padding: 0;
    text-align: center;
    width: 148px;
}
#nav_list ul ul li {
    float: none;
    padding: 5px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    margin-left: -20px;
    width: 175px;
}
#nav_list ul li:hover > ul {
    display: block;
}

/* MAIN CSS */
main {
    clear: left;
    text-align: center;
    padding-top: 1em;
    min-height: 550px;
}
aside {
    float:left;
    margin: 5em;
    margin-left: 12em;
}
/* SIGN-IN FORM */
#signInForm {
    width: 50%;
    margin: auto;
}
#signInForm fieldset {
    padding: 2em;
    padding-top: 1em;
}
#signInForm input {
    margin: 1em;
}
#createAccountButton a {
    text-decoration: none;
    color: black;
}

/* FOOTER CSS */
footer {
    clear: both;
    text-align: center;
    font: small bolder;
    background-color: black;
    color: white;
    height: 3em;
    padding: 0;
    margin: 0;
    padding: 3px;
}


